#torch == 2.0.1 --extra-index-url https://download.pytorch.org/whl/cu118 
llama-recipes --extra-index-url https://download.pytorch.org/whl/test/cu118 
transformers == 4.34.0
datasets == 2.14.5
accelerate == 0.23.0
sentencepiece == 0.1.99
protobuf == 3.20
py7zr == 0.20.6
scipy
peft == 0.5.0
bitsandbytes --extra-index-url https://download.pytorch.org/whl/cu118 
fire == 0.5.0
torch-tb-profiler == 0.4.3
ipywidgets == 8.1.1